<div>
    <app-nav-bar></app-nav-bar>
</div>

<div>
    <app-user-panel></app-user-panel>
</div>
<div class="my-appointment">
    <div class="form-emergency">
        <div class="inputs form-name">
            <h1>Book your Appointment</h1>
        </div>
            <div class="inputs">
                <label for="Symptoms">Symptoms*</label>
                  <input type="text" placeholder="symptoms" id="Symptoms" [(ngModel)]="symptoms">
            </div>
            <div class="inputs">
                <label for="date">Date*</label>
                <input type="date" placeholder="date" [(ngModel)]="date" name="date">
            </div>
            <div class="inputs">
                <label for="Specialization">Specialization*</label>
                <select name="Specialization" [(ngModel)]="doctorSpecialization" id="Specialization"  (change)="change($event.target)">
                   <option [disabled]="true">choose</option>
                    <option  *ngFor="let doctor of doctors" [value]="doctor.doctorSpecialization" >{{doctor.doctorSpecialization}}</option>
                </select>
            </div>
            <div class="inputs">
                <label for="doctors">Doctors*</label>
                <select name="doctors" id="Specialization" [(ngModel)]="doctorName" [disabled]="doctorSpecialization!==''?false:true">
                    <option    [ngValue]="doctor.doctorName">{{doctor.doctorName}}</option>
                    
                </select>
            </div>
            <div class="inputs">
                <label for="fee">Fee*</label>
                <select name="fee" id="fee" [(ngModel)]="doctorFee">
             <option [ngValue]="doctor.doctorFee">{{doctor.doctorFee}}</option>
                </select>
            </div>
            <div class="inputs">
                <div class="check-availability">
                    <h3>check doctor availability</h3>
                    <button (click)="checkAvailability()">check</button>
                </div>
                <div class="doctor-availability" *ngIf="doctorAvailabilty===true" >
                   <ul>
                    <li   (click)="chooseBookingTime('10:30AM','value1')"  [ngClass]="chooseBookingTimingColor1?'colored':'normal'" *ngIf="chooseBookingTiming1===false">10:30AM</li>
                    <li (click)="chooseBookingTime('11:30AM','value2')" [ngClass]="chooseBookingTimingColor2?'colored':'normal'"    *ngIf="chooseBookingTiming2===false">11:30AM</li>
                    <li (click)="chooseBookingTime('12:30PM','value3')" [ngClass]="chooseBookingTimingColor3?'colored':'normal'"    *ngIf="chooseBookingTiming3===false">12:30PM</li>
                    <li (click)="chooseBookingTime('2:30PM','value4')" [ngClass]="chooseBookingTimingColor4?'colored':'normal'"     *ngIf="chooseBookingTiming4===false">2:30PM</li>
                    <li (click)="chooseBookingTime('3:30PM','value5')" [ngClass]="chooseBookingTimingColor5?'colored':'normal'"     *ngIf="chooseBookingTiming5===false">3:30PM</li>
                   </ul>
                   <div *ngIf="chooseBookingTiming1===true &&
                   chooseBookingTiming2===true &&
                   chooseBookingTiming3===true &&
                   chooseBookingTiming4===true &&
                   chooseBookingTiming5===true">
                    <h2>No schedule found for the above selected date</h2>
                   </div>
                </div>
            </div>
            <div class="inputs">
                <button type="submit" (click)="bookAppointment()">Submit</button>
            </div>
            
    </div>
</div>
