<div>
    <app-nav-bar></app-nav-bar>
</div>

<div>
    <app-user-panel></app-user-panel>
</div>

<div class="myProfile">
    <div class="profile-heading">
<h2>My Profile Details</h2>
<img src="" alt="">
    </div>
    <div class="my-profile-details">
        <div class="data">
            <h3>Name :</h3>
            <h3 class="content">{{name}}</h3>
        </div>
        <div class="data">
            <h3>Age :</h3>
            <h3 class="content">{{age}}</h3>
        </div>
        <div class="data">
            <h3>DOB :</h3>
            <h3 class="content">{{dateOfBirth}}</h3>
        </div>
        <div class="data">
            <h3>Email :</h3>
            <h3 class="content">{{email}}</h3>
        </div>
        <div class="data">
            <h3>Mobile :</h3>
            <h3 class="content">{{mobileNumber}}</h3>
        </div>
        <div class="data">
            <h3>Gender :</h3>
            <h3 class="content">{{gender}}</h3>
        </div>
    </div>
</div>
