
  /* ---------------------------------------------------- */
  
header{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid red;
}

/* .main-content{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
} */
.main-content-info{
    
    position: relative;;
    left: 30vw;
    margin-top: 30vh;
    width: 60%;
    display: grid;

    grid-template-columns: 33% 33% 33%;
    grid-gap: 30px;
    /* justify-content:flex-end; */
    background-color: ghostwhite;
    
}
img{
    width: 80%;
    height: 80%;
    border-radius: 100px;
}
.card-box p{
    font-size: large;
}

.card-box{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 30px;

    justify-content: space-between;
    height: auto;
    background-color:rgb(245, 143, 160);
    padding: 10px;
    color:#fff;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 5px 5px 5px blueviolet;

}

.card-box:hover{
    box-shadow: 15px 15px 10px green;
}
@media only screen and (max-width: 700px) {
    body {
      background-color: lightblue;
    }
    .main-content-info{
        grid-template-columns: 100%;

  }
}

