<div>
    <app-nav-bar></app-nav-bar>
</div>

<div class="welcome-heading">
    <div class="welcome-sub-heading">
        <div class="welcome"> <img src="../../assets/images/health-care-icon.jpg" alt=""></div>
        <div class="welcome"><h1>Welcome to Health-Care Hospital</h1></div>
    </div>


</div>

<div class="about-us">
    <div class="about-heading">
        <img src="../../assets/images/health-care-icon.jpg" alt="">
        <h1>Health--Care</h1>
    </div>
    <div class="about-content">
        <div class="about-subcontent">
            <h1>About Health-Care Hospital</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, distinctio pariatur. Quo, voluptas. Veritatis atque quam optio facilis modi, sunt, nisi quo aliquid rem voluptatum, totam eos facere distinctio qui!
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia repudiandae, voluptate neque nostrum natus corrupti sunt doloremque. Quidem, rerum inventore in perferendis deserunt, mollitia explicabo qui odio asperiores dolor tempora?
            </p>
            <button type="submit">Load More</button>
        </div>
        <div class="about-subcontent">
            <img src="../../assets/images/hospital-building-2.jpg" alt="">
        </div>
    </div>
</div>